/************************************************* Algemeen *************************************************/

/* Stel de algemene opmaakregels voor de body in */
body {
    margin: 0;
    /* Verwijder de standaardmarge van de body */
    font-family: Helvetica, Arial, sans-serif;
    /* Geef een standaard lettertype aan voor de body */
}

/* Opmaak h1-elementen met het lettertype "Nike-Futura" */
h2 {
    font-family: "Nike-Futura";
    /* Gebruik het lettertype "Nike-Futura" voor h1-elementen */
    /* De bron en het formaat van het lettertype */
    /* Bron - Font gekregen van Sanne */
}

/* Pas de opmaak toe op h1-elementen binnen de body */
body h2 {
    font-size: 3em;
    /* Stel de lettergrootte in op 3em (3 keer de grootte van de standaardtekst) */
    text-transform: uppercase;
    /* Zet de tekst in hoofdletters */
    font-weight: 700;
    /* Stel de letterdikte in op 700 (vet) */
    margin: 0em;
    /* Verwijder de bovenste en onderste marges van h1-elementen */
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* Opmaak voor buttons met de class "button" */
section button {
    line-height: 1.75em;
    /* Stel de regelhoogte in op 1.75 keer de lettergrootte */
    align-items: center;
    /* Centreer de inhoud van de knop verticaal */
    background: var(--color-black);
    /* Stel de achtergrondkleur in op zwart */
    color: var(--color-white);
    /* Stel de tekstkleur in op wit */
    text-decoration: none;
    /* Verwijder de onderstreping van de link */
    border-radius: 1.875em;
    /* Geef de knop afgeronde hoeken */
    padding: 0.375em 1.25em;
    /* Voeg opvulling toe aan de knop */
    font-size: 1em;
    /* Stel de lettergrootte in op 1em (standaardgrootte) */
}

section:nth-of-type(2) a {
    line-height: 1.75em;
    align-items: center;
    background: var(--color-black);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 1.875em;
    padding: 0.375em 1.25em;
    font-size: 1em;
}

/* Opmaak voor alle links */
a {
    color: var(--podium-cds-color-black);
    /* Gebruik een aangepaste CSS-variabele voor de tekstkleur */
    cursor: pointer;
    /* Verander de cursor in een aanwijzer (handje) wanneer erover wordt bewogen */
    text-decoration: none;
    /* Verwijder de onderstreping van de link */
    font-weight: 500;
    /* Stel de letterdikte in op 500 (normaal) */
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
    /* Geef een lettertype aan voor de links */
    text-decoration: underline;
    /* Voeg een onderstreping toe aan de links */
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/************************************************* nav *************************************************/

#closeMenuButton {
    display: none;
}

@media only screen and (max-width: 62.5em) {

    /* opmaak voor het zijmenu */
    #sideMenu {
        height: 100%;
        /* Volledige hoogte van het scherm innemen */
        width: 0;
        /* Begin met een breedte van 0 (gesloten) */
        position: fixed;
        /* Blijft op een vaste positie tijdens het scrollen */
        z-index: 1;
        /* Stapelvolgorde, boven andere inhoud - Bron: student */
        top: 0;
        /* Plaats aan de bovenkant van het scherm */
        right: 0;
        /* Plaats aan de rechterkant van het scherm */
        background-color: var(--color-white);
        /* Achtergrondkleur wit */
        overflow-x: hidden;
        /* Verberg horizontale scrollbalk */
        transition: 0.5s;
        /* Voeg een soepele overgang toe van breedteveranderingen */
        padding: 3.75em 2em;
        /* Ruimte binnen het zijmenu */
        width: 18.75em;
        /* Breedte van het zijmenu */
        display: none;
        /* Verberg het zijmenu standaard */
    }

    /* opmaak voor links binnen het zijmenu */
    #sideMenu a {
        padding: 0.625em 0em 0.625em 0em;
        /* Ruimte rond de tekst binnen links */
        text-decoration: none;
        /* Verwijder onderstreping van links */
        font-size: 1.5em;
        /* Tekengrootte van links */
        color: var(--color-black);
        /* Tekstkleur zwart */
        display: block;
        /* Maak links blokken (volledige breedte) */
        transition: 0.3s;
        /* Voeg een soepele overgang toe bij hover */
    }

    /* opmaak voor links binnen het zijmenu wanneer de muis erover beweegt */
    #sideMenu a:hover {
        color: var(--primary-color);
        /* Verander tekstkleur naar grijs */
    }

    #closeMenuButton {
        display: block;
    }

    /* opmaak voor de inhoud van de hoofdpagina wanneer het zijmenu is geopend */
    #mainContent {
        position: relative;
        /* Behoudt de normale positie van de inhoud */
        z-index: 0;
        /* Plaats de inhoud onder het zijmenu */
    }


    /* Vervagingseffect voor elementen met de class 'blur-effect' */
    .blur-effect {
        filter: blur(0.5em);
        /* Voeg een vervagingseffect toe */
    }

    /* Stijlen voor de knop om het zijmenu te sluiten */
    #closeMenuButton {
        position: absolute;
        /* Een vaste positie binnen het zijmenu */
        top: 0.625em;
        /* Afstand vanaf de bovenkant */
        right: 0.625em;
        /* Afstand vanaf de rechterkant */
        padding: 0.25em;
        /* Ruimte binnen de knop */
        color: var(--color-black);
        /* Tekstkleur wit */
        font-size: 1.875em;
        /* Tekengrootte van de knop */
        text-decoration: none;
        /* Verwijder onderstreping van de knop */
        z-index: 2;
        /* Plaats boven andere elementen in het zijmenu */
    }

    /* Stijlen voor de knop om het zijmenu te sluiten wanneer de muis erover beweegt  */
    #closeMenuButton:hover {
        color: var(--primary-color)
            /* Verander tekstkleur naar lichtgrijs */
    }

    /* Stijlen voor de overlay-achtergrond wanneer het zijmenu is geopend */
    #overlay {
        position: fixed;
        /* Een vaste positie die het hele scherm bedekt */
        display: none;
        /* Verberg de overlay standaard */
        width: 100%;
        /* Volledige breedte van het scherm */
        height: 100%;
        /* Volledige hoogte van het scherm */
        top: 0;
        /* Plaats aan de bovenkant van het scherm */
        left: 0;
        /* Plaats aan de linkerkant van het scherm */
        right: 0;
        /* Plaats aan de rechterkant van het scherm */
        bottom: 0;
        /* Plaats aan de onderkant van het scherm */
        background-color: var(--achtergrondkleur);
        /* Halfdoorzichtige zwarte achtergrond */
        z-index: 1;
        /* Plaats boven andere inhoud, maar onder het zijmenu */
        cursor: pointer;
        /* Toon een klikbare cursor */
    }

    /* Stijlen voor links binnen het zijmenu, behalve de eerste link */
    #sideMenu a:not(:first-child) {
        position: relative;
        /* Behoudt de normale positie van de link */
    }

    /* Voeg een pijlsymbool toe aan links binnen het zijmenu, behalve de eerste link */
    #sideMenu a:not(:first-child)::after {
        content: ">";
        /* Voeg een pijltje naar rechts toe */
        position: absolute;
        /* Een vaste positie rechts van de link */
        right: 0;
        /* Plaats aan de rechterkant van de link */
    }

}



/************************************************* Header *************************************************/

header {
    background-color: var(--color-white);
    /* Achtergrondkleur van de header is wit */
    display: flex;
    /* Zorgt ervoor dat de elementen naast elkaar komen te staan */
    justify-content: space-between;
    /* Zorgt dat er ruimte tussen de elementen ontstaat  */
    padding: 0 0.875em 0 1em;
    /* Binnenste vulling (marges) voor de header */
    max-height: 3.75em;
    /* Maximale hoogte van de header */
}

header nav {
    display: flex;
    /* Zorgt ervoor dat de elementen naast elkaar komen te staan */
    justify-content: center;
    /* Centreert de inhoud horizontaal in de navigatie */
    align-items: center;
    /* Centreert de inhoud verticaal in de navigatie */
}

header nav ul {
    list-style: none;
    /* Verwijdert de standaardlijststijl van de ul */
    padding: 0;
    /* Verwijdert de binnenste vulling (marge) van de ul */
    margin: 0;
    /* Verwijdert de buitenste vulling (marge) van de ul */
    display: flex;
    /* Zorgt ervoor dat de elementen naast elkaar komen te staan */
}

header > div {
    display: flex;
    /* Zorgt ervoor dat de elementen naast elkaar komen te staan */
    justify-content: center;
    /* Centreert de elementen horizontaal */
    align-items: center;
    /* Centreert de inhoud verticaal in de secties */
}


header > div a {
    padding: 1.2em;
    /* Binnenste vulling (marges) voor de koppelingen */
    display: flex;
    /*Zorgt ervoor dat de elementen naast elkaar komen te staan */
    border-bottom: 2px solid var(--color-white);
    /* Voegt een witte onderstreping toe aan de linkjes */
}

header nav ul li {
    padding: 0.5em;
    /* Binnenste vulling (marges) voor de lijstitems */
    display: flex;
    /* Zorgt ervoor dat de elementen naast elkaar komen te staan */
    align-items: center;
    /* Centreert de inhoud verticaal in de lijstitems */
    border-radius: 6.25em;
    /* Geeft de lijstitems een afgeronde vorm */
    background: transparent;
    /* Achtergrond van de lijstitems is transparant */
}

header > div a {
    text-decoration: none;
    /* Verwijdert de standaard onderstreping van koppelingen */
}

.pre-nav-design-icon {
    color: var(--color-black);
    width: 1.5em;
    /* Breedte van het pictogram */
    height: 1.5em;
    /* Hoogte van het pictogram */
}

.pre-logo-svg {
    transform: scale(1.33);
    /* Schaal het logo met een factor 1.33 */
    height: 100%;
    /* Hoogte van het logo is 100% */
    width: 100%;
    /* Breedte van het logo is 100% */
}

.pre-logo-link {
    height: 3.6875em;
    /* Hoogte van de link met het logo */
    width: 3.6875em;
    /* Breedte van de link met het logo */
    margin: 0.0625em 0;
    /* Binnenste marges voor de link met het logo */
    color: var(--color-black);
    /* Tekstkleur van de link is zwart */
}

/* Mediaquery voor schermgroottes kleiner dan of gelijk aan 62.5em*/
@media only screen and (max-width: 62.5em) {

    /* Verberg de sectie-elementen in de header */
    header > section {
        display: none;
    }
}

/* Mediaquery voor schermgroottes groter dan of gelijk aan 62.5em */
@media only screen and (min-width: 62.5em) {

    /* Verberg het vierde lijstitem in de navigatie-ul van de header */
    header nav ul li:nth-of-type(4) {
        display: none;
    }


    header > div a:hover {
        border-bottom: 2px solid var(--color-black);
        /* Verandert de onderstreping in zwart wanneer erover wordt gehoverd */
    }

}


/************************************************* Banner/carrousel met JS  *************************************************/

#banner {
    height: auto;
    /* De bannerhoogte is gebaseerd op de content */
    min-height: 3.625em;
    /* Minimum hoogte van de banner */
    box-shadow: inset 0 -0.0625em 0 0 var(--accent-color);
    /* Voegt een schaduwlijntje onderaan de banner toe */
    position: relative;
    /* Banner schuift mee met de content */
    background: var(--color-background);
    /* Achtergrondkleur van de banner */
    padding-top: 0.625em;
    /* Binnenruimte bovenaan de banner */
    overflow: hidden;
    /* Verborgen inhoud die buiten de banner valt wordt verborgen */
}

#banner ul {
    list-style: none;
    /* Verwijdert de standaardlijststijl van de UL */
    padding: 0;
    /* Verwijdert opvulling van de UL */
    margin: 0;
    /* Verwijdert marges van de UL */
    text-align: center;
    /* Centreert de tekst in de UL */
    display: flex;
    /* Zorgt ervoor dat de elementen naast elkaar komen te staan */
    transition: transform 1s;
    /* Voegt een overgangseffect toe aan de transformatie van de UL */
    overflow: hidden;
    /* Verborgen inhoud die buiten de UL valt wordt verborgen */
}

#banner ul li > h3 {
    font-weight: 500;
    /* Vetgedrukte tekst */
    font-size: 1em;
    /* Tekstgrootte */
    line-height: 1;
    /* Lijnhoogte (geen extra ruimte tussen lijnen) */
    display: block;
    /* Geeft blokelement aan de tekst binnen LI */
    vertical-align: middle;
    /* Verticale uitlijning in het midden */
    margin: 0;
    /* Verwijdert marges van de tekst */
}

#banner ul li p {
    display: block;
    /* Geeft blokelement aan sectie binnen LI */
    font-size: 0.75em;
    /* Tekstgrootte van sectie */
    line-height: 2;
    /* Lijnhoogte (extra ruimte tussen lijnen) */
}

#banner ul li h3 {
    display: inline-block;
    /* Geeft inline-blokelement aan de tekst binnen sectie */
}

#banner li {
    display: none;
    /* Verbergt LI-elementen */
    flex: 0 0 100%;
    /* Flexbox-configuratie om LI-elementen in één rij te plaatsen */
}

#banner h2 {
    display: none;
}

/************************************************* H1 met titel "nike Tech" en link naar shop *************************************************/

body main > section:nth-of-type(2) {
    margin: 3em 0.75em 0 0.75em;
    /* Boven- en ondermarges van 3em, linker- en rechtermarges van 0.75em */
    display: flex;
    /* Zorgt ervoor dat de elementen naast elkaar komen te staan */
    flex-direction: column;
    /* Plaatst de kinderen van de flex-container onder elkaar (verticaal) */
    align-items: center;
    /* Centreert de kinderen horizontaal in de flex-container */
    justify-content: center;
    /* Centreert de kinderen verticaal in de flex-container */
}

body main > section:nth-of-type(2) p {
    text-align: center;
    /* Centreert de tekst binnen het tweede section-element binnen main */
}

/************************************************* VIDEO *************************************************/

body main > section:nth-of-type(3) {
    margin-top: 3em;
    /* Voegt een bovenmarge toe van 3em aan het derde section-element binnen main */
    position: relative;
    /* Stelt het derde section-element binnen main in als een relatieve positie (voor positie-overlay) */
    overflow: hidden;
    /* Verbergt inhoud die buiten de grenzen van het element valt */
    width: 100%;
    /* 100% breedte van het element */
    height: 31.25em;
    /* Hoogte van het element */
    background: var(--achtergrondkleur);
    /* Achtergrondkleur met 50% transparantie als overlay */
}

body main > section:nth-of-type(3) h2 {
    display: none;
}

#backgroundVideo {
    position: absolute;
    /* Absoluut gepositioneerd binnen het derde section-element */
    top: 0;
    /* Bovenkant op 0 */
    left: 0;
    /* Linkerkant op 0 */
    width: 100%;
    /* 100% breedte van het element */
    height: 100%;
    /* 100% hoogte van het element */
    object-fit: cover;
    /* Schaalt de video om de volledige ruimte te bedekken */
    z-index: -1;
    /* Achtergrond-z-index om tekst en knoppen erboven te plaatsen */
}

#videoToggleButton {
    background-color: var(--achtergrondkleur);
    /* Achtergrondkleur met 60% transparantie */
    border: none;
    /* Geen rand */
    padding: 0.625em 0.9375em;
    /* Binnenkussen (padding) van de knop */
    border-radius: 0.3125em;
    /* Afgeronde hoeken van de knop */
    cursor: pointer;
    /* Wijsvinger-cursor bij hover */
    transition: background-color 0.3s;
    /* Vloeiende overgang van achtergrondkleur bij hover */

    /* Positie linksonder */
    position: absolute;
    /* Absoluut gepositioneerd binnen het derde section-element */
    left: 0.625em;
    /* Links op 0.625em vanaf de linkerkant */
    bottom: 0.625em;
    /* Onderkant op 0.625em vanaf de onderkant */
}

#videoToggleButton:hover {
    background-color: var(--achtergrondkleur);
    /* Achtergrondkleur met 80% transparantie bij hover */
}

#videoToggleButton svg {
    fill: var(--color-white);
    /* Vul de SVG-afbeelding in met witte kleur */
}


/************************************************* Carrousel trends met afbeeldingen *************************************************/

body main > section:nth-of-type(4) {
    padding: 1em;
    /* Voegt 1em padding toe aan het vierde section-element binnen main */
}

body main > section:nth-of-type(4) h2 {
    display: none;
    /* Verbergt het h2-element binnen het vierde section-element binnen main */
}

body main > section:nth-of-type(4) ul {
    display: flex;
    /* Zorgt ervoor dat de elementen naast elkaar komen te staan */
    flex-direction: row;
    /* Zorgt ervoor dat de elementen in een rij komen te staan */
    list-style: none;
    /* Verwijdert de styling van de lijst */
    padding: 0em 0em 1.875em 1.5em;
    /* Voegt padding toe aan de ul */
    overflow: auto;
    /* Voegt een schuifbalk toe */
}

body main > section:nth-of-type(4) ul li {
    margin-right: 0.75em;
    /* Voegt een rechtermarge toe aan de li-elementen */
    display: flex;
    flex-direction: column-reverse;
}

@media only screen and (max-width: 62.5em) {
    /* zichtbaar tot 62.5 em */

    body main > section:nth-of-type(4) ul li img {
        height: 20em;
        /* Pas de hoogte van de afbeeldingen aan */
        width: 20em;
        /* Pas de breedte van de afbeeldingen aan */
        object-fit: cover;
        /* Schaalt de afbeeldingen */
    }
}

@media only screen and (max-width: 37.5em) {
    /* Mediaquery voor schermen kleiner dan 37.5em */

    body main > section:nth-of-type(4) ul li img {
        height: 15em;
        /* Pas de hoogte van de afbeeldingen aan */
        width: 15em;
        /* Pas de breedte van de afbeeldingen aan */
        object-fit: cover;
        /* Schaalt de afbeeldingen zodat ze de volledige ruimte bedekken */
    }
}

/************************************************* Carrousel voor producten met prijzen *************************************************/

/* Stijlen voor de vijfde sectie in de hoofdinhoud van de pagina */

body main > section:nth-of-type(5) h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: unset;
    text-transform: unset;
}

body main > section:nth-of-type(5) {
    padding: 1em;
    /* Voeg een beetje opvulling toe aan de vijfde sectie */
}

/* Stijlen voor koppen (h3) in de vijfde sectie */

body main > section:nth-of-type(5) h3 {
    font-weight: 400;
    /* Stel de letterdikte in op 400 (normaal) */
    margin-bottom: 0em;
    /* Verwijder de onderste marge van de koppen */
}

/* Stijlen voor alinea's (p) in de vijfde sectie */

body main > section:nth-of-type(5) section p {
    font-weight: 400;
    /* Stel de letterdikte in op 400 (normaal) */
    margin-top: 0.35em;
    /* Voeg een kleine bovenste marge toe aan alinea's */
}

/* Stijlen voor een ongeordende lijst (ul) in de vijfde sectie */

body main > section:nth-of-type(5) ul {
    display: flex;
    /* Zorgt ervoor dat de elementen naast elkaar komen te staan */
    flex-direction: row;
    /* Plaats de lijstitems naast elkaar in een rij */
    list-style: none;
    /* Verwijder de standaard lijststijl */
    padding: 0em 0em 1.875em 1.5em;
    /* Voeg opvulling toe aan de lijst */
    overflow: auto;
    /* Voeg scrollen toe als de lijst te groot wordt */
}

/* Stijlen voor lijstitems (li) in de vijfde sectie */

body main > section:nth-of-type(5) ul li {
    margin-right: 0.75em;
    /* Voeg een rechtermarge toe aan lijstitems */
    display: flex;
    flex-direction: column;
}

body main > section:nth-of-type(5) ul li div {
    order: 2;
    /* Zet de div met de productinformatie op de tweede plaats */
}

body main > section:nth-of-type(5) ul li img {
    order: 1;
    /* Zet de afbeelding op de eerste plaats */
}

body main > section:nth-of-type(5) ul li > p {
    order: 3;
    /* Houdt de prijs op de derde plaats */
}

/* Mediaquery voor schermen met een maximale breedte van 62.5em (1000px) */

@media only screen and (max-width: 62.5em) {
    /* Pas de stijl aan voor kleine schermen */

    /* Zorg ervoor dat afbeeldingen in lijstitems een specifieke hoogte, breedte en schaalvergroting hebben */
    body main > section:nth-of-type(5) ul li img {
        height: 20em;
        /* Stel de hoogte in */
        width: 20em;
        /* Stel de breedte in */
        object-fit: cover;
        /* Schaal de afbeeldingen om in de container te passen */
    }
}

/* Mediaquery voor schermen met een maximale breedte van 37.5em */

@media only screen and (max-width: 37.5em) {
    /* Pas de stijl aan voor nog kleinere schermen */

    /* Zorg ervoor dat afbeeldingen in lijstitems een andere hoogte, breedte en schaalvergroting hebben */
    body main > section:nth-of-type(5) ul li img {
        height: 15em;
        /* Stel de hoogte in */
        width: 15em;
        /* Stel de breedte in */
        object-fit: cover;
        /* Schaal de afbeeldingen om in de container te passen */
    }
}

/************************************************* Footer *************************************************/
/* Bron: Sander Schraper - developer bij mijn werk. Hij hielp mij met name met het positioneren van de elementen in de footer.  */


footer {
    display: flex;
    /* Zorgt ervoor dat de elementen naast elkaar komen te staan */
    justify-content: space-between;
    /* Verdeel de ruimte tussen de elementen in de footer */
    background-color: var(--color-black);
    /* Achtergrondkleur van de footer is zwart */
    color: var(--color-white);
    /* Tekstkleur in de footer is wit */
    padding: 2.5em;
    /* Voeg wat ruimte binnenin de footer toe */
}

/* Stijlen voor ongeordende lijsten in de footer */

footer ul {
    list-style-type: none;
    /* De opsommingstekens die normaal zichtbaar zijn worden weggehaald */
    padding: 0;
    /* Verwijder standaard opvulling van de lijst */
}

footer ul li {
    margin-bottom: 0.75em;
    /* Voeg wat ruimte onder elk lijstitem toe */
}

footer ul li a {
    color: #7e7e7e;
    /* Stel de tekstkleur van de koppelingen in */
    text-decoration: none;
    /* Verwijder de onderstreping van de koppelingen */
    font-size: 0.8em;
    /* Stel de lettergrootte van de koppelingen in */
}

footer ul li a:hover {
    color: var(--color-white);
    /* Verander de tekstkleur van de koppelingen bij hover naar wit */
    text-decoration: none;
    /* Verwijder de onderstreping bij hover */
}

/* Stijlen voor specifieke koppelingen in de footer */

footer div ul:first-of-type li a {
    color: var(--color-white);
    /* Verander de tekstkleur van deze koppelingen naar wit */
    font-family: "Nike-TG";
    /* Stel een specifiek lettertype in voor deze koppelingen */
    src: url('../fonts/Nike-TG.woff2') format('woff2');
    /* Specifieke lettertypebron */
    font-size: 1em;
    /* Stel de lettergrootte van deze koppelingen in */
    text-transform: uppercase;
}

footer div ul li:first-of-type a {
    color: var(--color-white);
    /* Verander de tekstkleur van deze koppelingen naar wit */
    font-family: "Nike-TG";
    /* Stel een specifiek lettertype in voor deze koppelingen */
    src: url('../fonts/Nike-TG.woff2') format('woff2');
    /* Specifieke lettertypebron */
    font-size: 1em;
    /* Stel de lettergrootte van deze koppelingen in */
}

/* Stijlen voor het eerste gedeelte van de footer */

footer div:first-of-type {
    width: 75%;
    /* Neem 75% van de beschikbare breedte in beslag */
    display: grid;
    /* Gebruik een grid-indeling voor dit gedeelte van de footer */
    grid-template-columns: repeat(4, 1fr);
    /* Verdeel de ruimte in 4 gelijke kolommen op desktops */
    grid-gap: 10px;
    /* Voeg wat ruimte tussen de grid-items toe (optioneel) */
}

/* Stijlen voor het laatste gedeelte van de footer */

footer div:last-of-type ul {
    display: inline-flex;
    /* Plaats de lijstitems naast elkaar in een horizontale lijn en zorgt dat het dynamisch is */
}

footer div:last-of-type ul li {
    margin: 0em .75em;
    /* Voeg wat ruimte rond de lijstitems toe */
}

/* Mediaquery voor schermgrootte kleiner dan 62.5em (ongeveer 1000px) */

@media only screen and (max-width: 62.5em) {
    footer {
        background-color: var(--color-black);
        /* Achtergrondkleur van de footer op mobiel is zwart */
        color: var(--color-white);
        /* Tekstkleur in de footer op mobiel is wit */
        display: flex;
        /* Schakel over naar blokopmaak op mobiel */
    }

    footer > div:first-of-type {
        width: 100%;
        /* Neem 100% van de beschikbare breedte in beslag op mobiel */
        grid-template-columns: repeat(3, 1fr);
        /* Verdeel de ruimte in 3 gelijke kolommen op mobiel */
    }
}

/* Mediaquery voor schermgrootte kleiner dan 37.5em (ongeveer 600px) */

@media only screen and (max-width: 37.5em) {
    footer {
        background-color: var(--color-black);
        /* Achtergrondkleur van de footer op mobiel is zwart */
        color: var(--color-white);
        /* Tekstkleur in de footer op mobiel is wit */
        display: block;
        /* Schakel over naar blokopmaak op mobiel */
    }

    footer > div:first-of-type {
        width: 100%;
        /* Neem 100% van de beschikbare breedte in beslag op mobiel */
        grid-template-columns: 1fr;
        /* Toon slechts 1 kolom op mobiel (onder elkaar) */
    }


    /************************************************* Dark Light Modus*************************************************/

    /* Bron - Code uit uit de les toegepast */

    /* Standaardstijlen voor lichte modus */
    body {
        margin: 0;
        font-family: Helvetica, Arial, sans-serif;
        background-color: var(--color-white);
        color: var(--color-black);
        /* Achtergrondkleur van de pagina en tekstkleur in lichte modus */
    }

    /* Opmaak voor buttons in lichte modus */
    section button {
        line-height: 1.75em;
        align-items: center;
        background: var(--color-black);
        /* Achtergrondkleur voor knoppen in lichte modus */
        color: var(--color-white);
        /* Tekstkleur voor knoppen in lichte modus */
        text-decoration: none;
        border-radius: 1.875em;
        /* Afronding van de knoppen */
        padding: 0.375em 1.25em;
        /* Binnenste vulling van de knoppen */
        font-size: 1em;
    }

    /* media query voor donkere modus) */
    @media (prefers-color-scheme: dark) {
        body {
            background-color: var(--color-black);
            color: var(--color-white);
            /* Achtergrondkleur van de pagina en tekstkleur in donkere modus */
        }

        /* Opmaak voor buttons in donkere modus */
        a.button {
            background: var(--color-white);
            color: var(--color-black);
        }

        /* Aangepaste stijlen voor een element met id "banner" in donkere modus */
        #banner {
            color: var(--color-black);
            /* Tekstkleur voor het element met id "banner" in donkere modus */
        }
    }

    /* CSS voor de banner carrousel */
    #banner li {
        display: none;
    }

    #banner li.show-item {
        display: block;
    }

    /* CSS voor het zijmenu en overlay */
    #sideMenu {
        display: none;
        /* Andere CSS-stijlen voor het zijmenu */
    }

    #overlay {
        display: none;
        /* Andere CSS-stijlen voor de overlay */
    }

    #sideMenu.show-menu {
        display: block;
        /* Voeg andere stijlen toe om het zijmenu te tonen */
    }

    #overlay.show-overlay {
        display: block;
        /* Voeg andere stijlen toe om de overlay te tonen */
    }

    /* CSS voor video-afspeelknoppen */
    .show-icon {
        display: inline-block;
    }
