/************************************************* Algemeen *************************************************/

@font-face {
    font-family: "Nike-Futura";
    src: url('../fonts/Nike-Futura.woff2') format('woff2'),
        /* Voeg eventueel andere CSS-eigenschappen zoals font-weight en font-style toe */
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-family: "Nike-Futura";
}

body h1 {
    font-size: 3em;
    /* 48px / 16px = 3em */
    text-transform: uppercase;
    font-weight: 700;
    margin: 0em;
}

a.button {
    line-height: 1.75em;
    align-items: center;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 1.875em;
    /* 30px / 16px = 1.875em */
    padding: 0.375em 1.25em;
    /* 6px / 16px = 0.375em, 20px / 16px = 1.25em */
    font-size: 1em;
    /* 16px / 16px = 1em */
}

a {
    color: var(--podium-cds-color-black);
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

/************************************************* Dark Light Modus*************************************************/


/* Standaardstijlen voor lichte modus */

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fff;
    /* Achtergrondkleur voor lichte modus */
    color: #000;
    /* Tekstkleur voor lichte modus */
}



/* Standaardstijlen voor knoppen in lichte modus */
a.button {
    line-height: 1.75em;
    align-items: center;
    background: #000;
    /* Achtergrondkleur voor knoppen in lichte modus */
    color: #fff;
    /* Tekstkleur voor knoppen in lichte modus */
    text-decoration: none;
    border-radius: 1.875em;
    padding: 0.375em 1.25em;
    font-size: 1em;
}




/* Donkere modus */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        /* Achtergrondkleur voor donkere modus */
        color: #fff;
        /* Tekstkleur voor donkere modus */
    }

    /* Aangepaste stijlen voor knoppen in donkere modus */
    a.button {
        background: #fff;
        /* Achtergrondkleur voor knoppen in donkere modus */
        color: #000;
        /* Tekstkleur voor knoppen in donkere modus */
    }

    #banner {
        color: #000;
    }


    /* Voeg hier eventuele andere aangepaste stijlen toe voor donkere modus */
}

/************************************************* nav *************************************************/

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    width: 300px;
    display: none;
}

.side-nav a {
    padding: 10px 15px 10px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #666666;
}

/* Stijl voor de inhoud wanneer het menu is geopend */
#mainContent {
    position: relative;
    z-index: 0;
}

.blur-effect {
    filter: blur(8px);
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 20px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    z-index: 2;
}

.closebtn:hover {
    color: #f1f1f1;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Zwarte achtergrond met 50% transparantie */
    z-index: 1;
    /* Zorg ervoor dat het onder het zijmenu zit */
    cursor: pointer;
    /* Laat een klikbare cursor zien */
    filter: blur(8px);
    /* Voeg het blur-effect toe */
}

/************************************************* Header *************************************************/

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 0.875em 0 1em;
    /* 14px / 16px = 0.875em, 16px / 16px = 1em */
    max-width: 120em;
    /* 1920px / 16px = 120em */
    max-height: 3.75em;
    /* 60px / 16px = 3.75em */
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 0.5em;
    /* 8px / 16px = 0.5em */
    display: flex;
    align-items: center;
    border-radius: 6.25em;
    /* 100px / 16px = 6.25em */
    background: transparent;
}

.pre-nav-design-icon {
    color: #111;
    width: 1.5em;
    /* 24px / 16px = 1.5em */
    height: 1.5em;
    /* 24px / 16px = 1.5em */
}

.pre-logo-svg {
    transform: scale(1.33);
    height: 100%;
    width: 100%;
}

.pre-logo-link {
    height: 3.6875em;
    /* 59px / 16px = 3.6875em */
    width: 3.6875em;
    /* 59px / 16px = 3.6875em */
    margin: 0.0625em 0;
    /* 1px / 16px = 0.0625em */
    color: black;
}

/************************************************* Banner/carrousel *************************************************/

#banner {
    height: auto;
    min-height: 3.625em;
    /* 58px / 16px = 3.625em */
    box-shadow: inset 0 -0.0625em 0 0 #e5e5e5;
    /* 1px / 16px = 0.0625em */
    position: relative;
    background: #f5f5f5;
    padding-top: 0.625em;
    /* 10px / 16px = 0.625em */
    overflow: hidden;
}

#banner ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    transition: transform 1s;
    overflow: hidden;
}

#banner ul li>p {
    font-weight: 500;
    font-size: 1em;
    /* 16px / 16px = 1em */
    line-height: 1;
    display: block;
    vertical-align: middle;
    margin: 0;
}

#banner ul li section {
    display: block;
    font-size: 0.75em;
    /* 12px / 16px = 0.75em */
    line-height: 2;
}

#banner ul li section p {
    display: inline-block;
}

#banner li {
    display: none;
    flex: 0 0 100%;
}

/************************************************* H1 met link naar shop *************************************************/

body main>section:nth-of-type(2) {
    margin: 3em 0.75em 0 0.75em;
    /* 48px / 16px = 3em, 12px / 16px = 0.75em */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body main>section:nth-of-type(2) p {
    text-align: center;
}

/************************************************* VIDEO *************************************************/

body main>section:nth-of-type(3) {
    margin-top: 3em;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 31.25em;
    /* Of een andere gewenste hoogte */
    background: rgba(0, 0, 0, 0.5);
    /* Achtergrondkleur overlay als je dat wilt */
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#videoToggleButton {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    /* Positie linksonder */
    position: absolute;
    left: 10px;
    /* 10px uit de linkerrand */
    bottom: 10px;
    /* 10px vanaf de onderkant */
}

#videoToggleButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#videoToggleButton svg {
    fill: white;
    /* Kleur van de SVG */
}

/************************************************* Carrousel trends *************************************************/

body main>section:nth-of-type(4) h2 {
    display: none;
}

body main>section:nth-of-type(4) ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0em 0em 1.875em 1.5em;
    overflow: auto;
}

body main>section:nth-of-type(4) ul li {
    margin-right: 0.75em;
}

@media only screen and (max-width: 600px) {

    /* Zorgt ervoor dat hij onder de 600px een kleine tegel toont */
    body main>section:nth-of-type(4) ul li img {
        height: 15em;
        width: 15em;
        object-fit: cover;
    }
}

/************************************************* Carrousel product *************************************************/

body main>section:nth-of-type(5) h3 {
    font-weight: 400;
    margin-bottom: 0em;
}

body main>section:nth-of-type(5) section p {
    font-weight: 400;
    margin-top: 0.35em;
}

/* body main>section:nth-of-type(5)>section {
    display: inline-block;
    float: inline-start;
}


body main>section:nth-of-type(5)>p {
    display: inline-block;
    float: inline-end;
} */

body main>section:nth-of-type(5) ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0em 0em 1.875em 1.5em;
    overflow: auto;
}

body main>section:nth-of-type(5) ul li {
    margin-right: 0.75em;
}

@media only screen and (max-width: 600px) {

    /* Zorgt ervoor dat hij onder de 600px een kleine tegel toont */
    body main>section:nth-of-type(5) ul li img {
        height: 15em;
        width: 15em;
        object-fit: cover;
    }
}

/************************************************* Footer *************************************************/


/* CSS voor de footer-navigatie met een UL */
footer ul {
    background-color: black;
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 0;
}

footer ul li a {
    color: white;
    text-decoration: none;
    padding: 0.625em;
    /* 10px / 16px = 0.625em */
}

footer ul li a:hover {
    text-decoration: underline;
}